body{
    
    font-family: Robot, san-serif;
    color: #E5E5E5;
}

span{
    color:blue;   
}

.header{
    width: 145px;
    height: 31px;
}

a{
    text-decoration: none; 
}

button:hover,
button:focus{
    color: white;
    background-color: blue;
}

.footer{
    background-color: #2F303A;
}

.header-block{
    background-color: #FFFFFF;
}

