body{
    background-color: rgb(93, 212, 212);
    font-family: Robot, san-serif;
}

span{
    color:blue;   
}

.header{
    width: 145px;
    height: 31px;
}

a{
    text-decoration: none; 
}

button:hover,
button:focus{
    color: white;
    background-color: blue;
}

